@font-face {
    font-family: 'MyFont';
    src: url('CCHammerHorror-Italic.ttf') format('opentype');
}

@font-face {
    font-family: 'font2';
    src: url('BabyPop (Kerning sherbackoffalex).otf') format('opentype');
}

header p {
  font-size: 20px;
  align-self: center;
  margin: 30px;
}
header h1 {
  font-family: 'MyFont', sans-serif;
  font-size: 50px
}

body {
  background-image: url('bg.jpg');
  font-family: 'font2', sans-serif;
  background-size: cover;        /* Заполняет весь экран */
  background-position: center;   /* Центрирует */
  background-repeat: no-repeat;  /* Не повторяет */
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

}
header {
  display: flex;
  justify-content: space-between;
}

nav {
  margin-left: auto;
}
nav ul{
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li{
  background: #a5e1f2;
  padding: 10px;
  border-radius: 20px;
}
nav ul li:hover{
  background: #88bbd1
}

.h {
  align-self: center;
  background: #a5e1f2;
  width: fit-content;
  padding: 20px;
  font-size: 20px;
  border-radius: 20px;
  margin: 0 auto;
  display: block
}

.h:hover {
  background: #88bbd1
}

.k {

  width: fit-content;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  margin: 20px;
  align-self: center;
}
.l {
  display: flex;
  gap: 20px;
  align-self: center;
}



