@font-face {
    font-family: 'MyFont';
    src: url('CCHammerHorror-Italic.ttf') format('opentype');
}

@font-face {
    font-family: 'font2';
    src: url('BabyPop (Kerning sherbackoffalex).otf') format('opentype');
}

header p {
  font-size: 20px;
  align-self: center;
  margin: 30px;
}
header h1 {
  font-family: 'MyFont', sans-serif;
  font-size: 50px
}

body {
  background-image: url('bg.jpg');
  font-family: 'font2', sans-serif;
  background-size: cover;        /* Заполняет весь экран */
  background-position: center;   /* Центрирует */
  background-repeat: no-repeat;  /* Не повторяет */
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

}
header {
  display: flex;
  justify-content: space-between;
}

nav {
  margin-left: auto;
}
nav ul{
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li{
  background: #a5e1f2;
  padding: 10px;
  border-radius: 20px;
}
nav ul li:hover{
  background: #88bbd1
}

@media (max-width: 768px) {
    header {
        flex-direction: column; /* ← Элементы в столбик */
        text-align: center;
    }

    header p {
        margin: 10px 0; /* ← Уменьшаем отступы */
        order: 2; /* ← Порядок: h1 → p → nav */
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 3;
        margin-left: 0; /* ← Убираем сдвиг вправо */
        width: 100%;
    }
}

.h {
  align-self: center;
  background: #a5e1f2;
  width: fit-content;
  padding: 20px;
  font-size: 20px;
  border-radius: 20px;
  margin: 0 auto;
  display: block
}

.h:hover {
  background: #88bbd1
}

.k {

  width: fit-content;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  margin: 20px;
  align-self: center;
}
.l {
  display: flex;
  gap: 20px;
  align-self: center;
}

@media (max-width: 768px) {
    .l {
        display: grid;
        grid-template-columns: 1fr 1fr; /* 2 колонки */
        gap: 10px;
    }

    .l img {
        width: 100%; /* Заполняет ячейку */
        height: auto;
    }
}

.b {
  align-self: center;
  font-size: 50px;
  width: fit-content

}
.trafics {
  display: flex;
  align-self: center;
  gap: 70px;
  font-size: 25px;
}

@media (max-width: 768px) {
  .trafics {
    font-size: 20px
  }
}

footer h1 {
  font-family: 'MyFont', sans-serif;
  font-size: 50px
}

@media (max-width: 768px) {
  footer h1 {
    font-size: 30px
  }
}

.foo {
    display: flex;
    flex-direction: column;
}

footer {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 60px
}




